body{
    background-color: #e0f5ff;
    background-image: linear-gradient(#e0f5ff, #dbfdff7e);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    padding: 0;
    margin: 0;
}
*{
    font-family: "Dokdo";
}
.start,
.selection,
.game,
.final{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    place-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.start{
    gap: 0px;
    background-image: url("./img/startBackground.png");
}

.selection{
    justify-content: center;
    background-image: url("./img/howToPlayBackground.png");
}

.game{
    background-image: url("./img/gameBackground.png");
    background-position: top;
}

.final{
    gap:  0%;
    background-position: center bottom;
}

.startButton, .startGame, .playAgain, .home{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #ED683B;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 20px;
    padding: 15px 30px;
    margin-bottom: 15px;
    color: white;
}

.home{
    background-color: #12BCC2;
}

.startGame{
    margin-top: 80px;
    margin-bottom: -10px;
}

.words{
    font-size: 30px;
    width: 100%;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
}

.backButton{
    position: absolute;
    width: 15%;
    height: auto;
    top: 10px;
    left: 10px;
}

.back{
    width: 75%;
    height: auto;
    padding: 20% 10%;
    background-image: url("./img/instructionBackground.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back p {
    font-family: 'Open Sans', sans-serif;
}

.difficulty{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title{
    width: 60%;
}
button{
    background-color: rgba(255, 255, 255,0);
    border: 0px;
}
.btn{
    width: 80%;
    max-width: 450px;
}
.image{
    width: 90%;
    max-width: 450px;
}
.startBuutton{
    width: 60vh;
}

/*.startButton:active,.startButton:active,.readyButton:active,.easy:active,.normal:active,.hard:active,.playAgain:active,.home:active{
    animation: animate 0.2s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(-20deg) translateX(-10px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(20deg) translateX(10px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
}*/

.hide{
    display: none;
    visibility: hidden;
}
.easy, .normal, .hard{
    margin-top: 2%;
    margin-bottom: 2%;
}

.ready{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 5vh;
    width: 100%;
    height: 100vh;
    z-index: 9;
    top: 0;
    background-color: transparent;
}

.pop{
    background-color: white;
    position: relative;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail{
    width: 90%;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail p {
    margin: 5px;
    font-size: 26px;
    font-weight: 800;
}

.highlight{
    font-size: 36px;
    color:crimson;
}

.home{
    margin:0px  18px;
}
.top{
    width: 100%;
}

p.instruction{
    padding: 10px;
    margin: 0 auto;
    max-width: 80%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    justify-content: center;
}

.lower{
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-background{
    margin-top: -10px;
    width: 75%;
    height: auto;
}
.timer-count{
    position: absolute;
    margin: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #FC5954;
    font-size: 50px;
}
.ball{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size{
    position: relative;
    width: 100%;
    height: auto;
}

.text{
    position: absolute;
    top: 5px;
    width: 85%;
}

.show{
    width: 100%;
    margin-bottom: -70px;
}
.additional{
    position: absolute;
    text-align: center;
    color: white;
    top: 50%;
}

.dark{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 5px !important;
}

.additional p{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    margin-bottom: 1px;
}

.game-background{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    position: relative;
    width: 100%;
    height: 100%;
}

  /*mobile*/
  @media screen and (max-width: 767px){
    .startButton, .startGame, .playAgain, .home {
    width: calc(100% - 70px);
    justify-content: center;
    align-items: center;
    }
}

/*ipad*/
@media screen and (min-width:768px) and (max-width:1023px) {
    .startButton, .startGame,.playAgain, .home{
        max-width: 500px;
    }
    .words{
        font-size: 60px;
    }
    .image{
        max-width: 600px;
    }
    .highlight{
        font-size: 60px;
    }
    .detail p{
        font-size: 50px;
    }
    .timer-count{
        font-size: 100px;
    }
    .final{
        background-position: 0;
    }
    .text{
        width: 70%;
    }
    .show{
        margin-top: -125px;
        margin-bottom: -145px;
    }
    .additional{
        top: 53%;
    }
    .dark{
        font-size: 40px !important;
    }
    .additional p{
        font-size: 30px;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    body{
      width: 100%;
    }
    .final{
        background-position: center bottom;
    }
    .start,.selection,.final,.game,.game-container{
        max-width: 400px;
        margin: 0 auto;
    }
    .startButton, .startGame,.playAgain, .home{
        max-width: 250px;
    }
    .startGame{
        margin-top: 50px;
        margin-bottom: -50px;
    }
    .image{
        max-width: 300px;
    }
    .text{
        width: 80%;
        top: 5px;
    }
    .text{
        margin-top: -5px;
    }
    .show{
        margin-top: -60px;
        margin-bottom: -90px;
    }
    .additional{
        top: 51%;
    }
}

@media screen and (max-width:767px){
    p.instruction{
        font-size: 20px;
    }
}

/*.image-ball{
    animation: rotate infinite alternate 5s;
}


@keyframes rotate {
    from {
      transform: rotate(0deg) translate(25px)
    }
    to {
      transform: rotate(360deg) translate(-25px)
    }
  } */

.playAgain .btn, .home .btn{
    width: 100%;
  }

  @media screen and (max-width:767px){
    .endTitle {
      display: none;
    }
  }